# Environment
.env
.env.local
.env.production

# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Cache
.dart_tool/
